* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffeaa7;
    color: #2d3436;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    color: #ffffff;
    padding: 25px;
    text-align: center;
}

main {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main p {
    margin-bottom: 15px;
}

main img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

footer {
    background-color: blue;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
